@font-face {
    font-family: 'space-mono';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 1440px;
    margin: auto;
    padding: 0;
    font-family: 'space-mono';
}

.site-header {
    height: 80px;
    padding-right: 146px;
    padding-left: 146px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 14px 10px #00000008;


}

.site-branding img {
    width: 216px;
    height: 14px;
}

.main-navigation {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-size-adjust: 16px;
    line-height: 24px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation li {
    margin-right: 45px; /* Espace entre les éléments du menu, ajustez selon vos besoins */
}

.main-navigation a {
    text-decoration: none;
    color: #000; 
    font-weight:lighter;
    font-size: 16px; /* Taille de la police du menu */
}

/* Style pour les liens au survol */
.main-navigation a:hover {
    font-weight: bold;
}

#footer-navigation {
    display: flex;
    justify-content: center;
    height: 40px;
    border-top-style: solid;
}

/* Style pour masquer la modale par défaut */
#modale {
    display: none;
}

 /* Style the modal */
 
/* Style pour le fond gris semi-transparent de la page */
#overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Couleur grise avec opacité */
    z-index: 100;
}

/* Style pour la fenêtre modale centrée */
.placement-modale {
    display: none;
    position: fixed;
    width: 600px;
    height: 770px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 102;
    overflow:hidden;
    border: 5px solid black;
}

.centrage-contenu-modale {
    display: flex;
    justify-self: center;
    flex-direction: column;
    overflow:hidden;
}
.image-contact {
    width: 886px;
    height: 106px;
    transform: translateX(-20%);
}
.image-contact-mobile {
    display: none; /* Masque l'image pour les écrans plus petits */
}

/* Media query pour les écrans de taille mobile */
@media only screen and (max-width: 767px) {
    .image-contact {
        display: none; /* Masque l'image pour les écrans plus grands */
    }

    .image-contact-mobile {
        display: block; /* Affiche l'image pour les écrans plus petits */
    }
}
  
  /* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*style formulaire*/
#wpcf7-f36-o1{
    font-family: 'poppins';
    display: flex;
    justify-content: center;
}
.wpcf7-form-control {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}
.wpcf7-textarea {
    height: 210px;
}
.init{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wpcf7-submit{
    display: block;
    font-family: 'space-mono';
    width: 263px;
    height: 50px;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
    gap: 10px;
}
/* ---fiche-photo--- */
.placement-fiche{
    padding-top: 38px;
}
.placement-fiche-photo{
    display: flex;
    justify-content: center;
    
}
.fiche-photo{
    display : flex;
    justify-content: space-between;
    position: relative;
    /*flex-direction: column;*/
}
.fiche-photo:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 1px solid black;
}
.attachment-large{
    width: auto;
    height: auto;
}

.photo_img_mobile{
    display : flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.photo-informations {
    width : auto;
    border : none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;
}
.photo-informations h2{
    font-weight: 400;
    font-style: italic;
    font-size: 66px;
    line-height: 58px;
    width: 420px;
}
/*.photo-informations p,
.photo-informations h1{
    margin-left: 10%;
    margin-right: 10%;
}


.photo-informations p{
    font-family: 'SpaceMono';
    font-size : 14px;
}*/

.zone-contact-et-miniature{
    display: flex;
    justify-content: space-between;
    width : 100%;
    border-bottom: 1px solid black;
    margin-left : 0%;
    margin-right : 0%;
    margin-top : 15px;
    margin-bottom : 15px;
    padding-top : 10px;
    padding-bottom : 10px;
}

.zone-contact{
    display : flex;
    font-family: 'poppins';
    width: 50%;
    align-self: center;
}

.zone-contact-position-texte{
    display : flex;
    width: 100%;
}

.bouton-contact{
    margin : 0px;
    width : 100%;
}

.bouton-contact a{
    margin-left : 0px;
    width : 100%;
    height : 70px;
}

.zone-miniature{
   /* display : none;*/
}

.attachment-large{
    width : 100%;
    height : auto; 
}

.presentation-autres-photos,
.presentation-images{
    display : flex;
    flex-direction : column;
    align-items: center;
}

.presentation-texte{
    font-size : 18px;

}
