@font-face {
    font-family: 'space-mono';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    font-family: 'space-mono';
}
h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 77px;
    margin-bottom: 52px;
}

.site-header {
    height: 80px;
    padding-right: 146px;
    padding-left: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 14px 10px #00000008;
}

.site-branding img {
    width: 216px;
    height: 14px;
}

.main-navigation {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-size-adjust: 16px;
    line-height: 24px;
    z-index: 10000;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation li {
    margin-right: 45px; /* Espace entre les éléments du menu, ajustez selon vos besoins */
}

.main-navigation a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 16px; /* Taille de la police du menu */
}
/*menu-burger*/
/* Afficher le bouton de menu uniquement sur les appareils mobiles */
.burger {
    display: none;
}
.nav_burger {
    display: none;
}


@media screen and (max-width: 768px) {
    /* Afficher le bouton de menu sur les appareils mobiles */
    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        right: 15px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .burger .bar {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: black;
        transition: all 0.5s ease-in-out;
    }
    
    .burger .bar::before, .burger .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: black;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
    
    .burger .bar::before {
        transform: translateY(-12px);
    }
    
    .burger .bar::after {
        transform: translateY(12px);
    }
    
    .burger.open .bar {
        width: 0;
        background: transparent;
    }
    
    .burger.open .bar::before {
        transform: rotate(45deg);
    }
    
    .burger.open .bar::after {
        transform: rotate(-45deg);
    }
      .show-nav .bar {
        width: 0;
        background: transparent;
      }
      .show-nav .bar::before {
        transform: rotate(45deg);
      }
      .show-nav .bar::after {
        transform: rotate(-45deg);
      }
      .show-nav .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: red;
        left: 0;
        line-height: 2.5em;
        z-index: 1;
        top: 20vh;
        width: 100vw;
        height: 100vh;
        gap: 18px;
      }
      .show-nav .navbar a {
        font-size: 2em;
        margin-top: 47px;
        color: white;
      }

    /* Afficher le menu burger au lieu du menu principal */
    .menu-header-container {
        display: none;
    }
}

/* Style pour les liens au survol */
.main-navigation a:hover {
    font-weight: bold;
}

#footer-navigation {
    display: flex;
    justify-content: center;
    height: 40px;
    border-top-style: solid;
    margin-top: 109px;
   
}

@media only screen and (max-width: 466px) {
    #footer-navigation {
        height: auto;
        padding-top: 44px;
        margin-bottom: 44px;
    }
    #footer{
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }
}
/****Hero****/
.banniere-img {
    position: relative;
    display: inline-block;
}
#banniere-img {
    width: 100vw;
    display: block;
    max-width: 1440px;
    height: auto;
}
#banniere-title {
    width: 100vw;
    position: absolute;
    max-width: 1000px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filtres {
    display: block;
    margin-top: 80px;
    margin-bottom: 39px;
}
.filters-box{
    max-width: 1148px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.filters-left{
    margin-right: auto;
}
.home-filter {
    width: 260px;
    height: 42px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    padding: 11px 18px 11px 18px;
}
.home-filter:hover{
    border-color: #215AFF;
}
/* Style pour les options de sélection */

#categorie-select option:hover{
    background-color: red !important;
}
#photos-container {
    flex-wrap: wrap;
}


.photos-container-image {
    max-width: 564px;
    height: auto;
    overflow: hidden; /* Masquer ce qui dépasse du conteneur */
    display: flex; /* Utiliser Flexbox pour centrer l'image */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    position: relative;
}

.photos-container-image a {
    display: block;
}

.photos-container-image img {
    max-width: 900px; /* Largeur maximale */
    /*height: auto;  Hauteur automatique pour conserver les proportions */
    object-fit: contain; /* Ajuster l'image pour s'adapter à la largeur maximale */
    /*object-position: center;  Centrer l'image horizontalement et verticalement*/ 
}
/*Bouton Charger plus*/

.load-more-photos-box{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}
#load-more-photos {
    width: 272px;
    height: 50px;
    border-radius: 2px;
    padding: 8px 15px 8px 15px;
    background: #D8D8D8;
    border: none;
    box-shadow: 0px 2px 1px 0px #00000005;
    font-family: 'space-mono';
}
#load-more-photos:hover{
    background-color: #000; /* Fond noir au survol */
    color: #fff; /* Texte blanc au survol */
    cursor: pointer;
    transition: 0.5s;
}

/************* Style pour la modale ************/


.modalnone{
    display: none;
}

#modale {
    display: none;
}

#overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Couleur grise avec opacité */
    z-index: 100;
}

/* Style pour la fenêtre modale centrée */
.placement-modale {
    display: none;
    position: fixed;
    width: 600px;
    height: 770px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 102;
    overflow: hidden;
    border: 5px solid black;
}

.centrage-contenu-modale {
    display: flex;
    justify-self: center;
    flex-direction: column;
    overflow: hidden;
}

.image-contact {
    width: 886px;
    height: 106px;
    transform: translateX(-20%);
}

.image-contact-mobile {
    display: none; /* Masque l'image pour les écrans plus petits */
}

/* Media query pour les écrans de taille mobile */
@media only screen and (max-width: 466px) {
    .image-contact {
        display: none; /* Masque l'image pour les écrans plus grands */
    }

    .image-contact-mobile {
        display: block; /* Affiche l'image pour les écrans plus petits */
    }
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour le formulaire */
#wpcf7-f36-o1 {
    font-family: 'poppins';
    display: flex;
    justify-content: center;
}

.wpcf7-form-control {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}

.wpcf7-textarea {
    height: 210px;
}

.init {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wpcf7-submit {
    display: block;
    font-family: 'space-mono';
    width: 263px;
    height: 50px;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
    gap: 10px;
}

/* Styles pour la fiche photo */
.placement-fiche {
    padding-top: 38px;
}

.placement-fiche-photo {
    display: flex;
    justify-content: center;
}

.fiche-photo {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fiche-photo:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 1px solid black;
}

.attachment-large {
    max-width: 563px;
    width: 100%;
    height: auto;
}

.photo_img_mobile {
    display: none;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.photo-informations {
    width: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;
}

.photo-informations h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 66px;
    line-height: 58px;
    width: 420px;
}

.zone-contact-et-miniature {
    display: flex;
    height: 118px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.zone-contact {
    display: flex;
    font-family: 'poppins';
    width: 50%;
    align-self: center;
}

.zone-contact-position-texte {
    display: flex;
    width: 100%;
}

.bouton-contact {
    margin: 0px;
    width: 100%;
}

#openModalBtn {
    width: 272px;
    height: 50px;
    border-radius: 2px;
    gap: 10px;
    line-height: 18px;
    border: none;
    font-family: 'space-mono';
    font-size: 12px;
    background: #D8D8D8;
}
#openModalBtn:hover {
    background-color: #000; /* Fond noir au survol */
    color: #fff; /* Texte blanc au survol */
    cursor: pointer;
    transition: 0.5s;
}

/*.bouton-contact a {
    margin-left: 0px;
    width: 100%;
    height: 70px;
}*/

.attachment-thumbnail {
    width: 81px;
    height: auto;
}

.photo-arrows {
    display: flex;
    justify-content: space-between;
}

.presentation-autres-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.presentation-images-gauche {
    
    height: 50vh; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative;
}

.custom-max-width-image {
    max-width: 100%; /* Spécifiez la largeur maximale souhaitée */
    /*max-height: 100%;  Permettez à la hauteur de l'image de s'ajuster automatiquement */
    height: auto;
}

.single-photo {
    max-width: 1148px;
}

.presentation-texte {
    font-size: 18px;
}

/* Style pour la div contenant l'image */
.image-container {
    position: relative;
}

/* Style pour l'overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Couleur d'arrière-plan semi-transparente */
    color: #fff; /* Couleur du texte */
    opacity: 0; /* Initialiser à transparent */
    transition: opacity 0.3s ease; /* Animation de transition */
    padding: 20px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la taille */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-fullscreen {
    position: absolute;
    top: 10px; /* Ajustez selon vos besoins */
    right: 10px; /* Ajustez selon vos besoins */
    width: 34px;
    height: auto;
}

.icon-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: auto;
}

.info-photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
}

/* Style pour les informations supplémentaires à l'intérieur de l'overlay */
.overlay p {
    margin: 0;
}

/* Style pour afficher l'overlay au survol */
.presentation-images-gauche:hover .overlay {
    opacity: 1; /* Afficher l'overlay */
}

/********** lightbox**************/
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999; /* Assure que la lightbox est au-dessus de tout le reste */
    display: none; /* Caché par défaut */
}

.lightbox-modale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw; /* Largeur maximale */
    max-height: 80vh; /* Hauteur maximale */
    z-index: 10000; /* Assure que la lightbox est au-dessus de l'overlay */
    display: none; /* Caché par défaut */
}

.lightbox-image {
    text-align: center; /* Centre la photo */
}

.lightbox-image img {
    max-width: 50%; /* Ajuste la taille maximale de l'image à la largeur de la lightbox */
    height: auto; /* Assure que l'image conserve ses proportions */
}

.lightbox-infos {
    display: flex;
  justify-content: space-around;
  color: white;
}


.lightbox-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    translate: 10vw -8vh;
}

.lightbox-previous,
.lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.lightbox-previous {
    left: 10px;
    translate: -10vw;
}

.lightbox-next {
    right: 10px;
    translate: 10vw;
}


@media only screen and (max-width: 466px) {
    .placement-fiche {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    .fiche-photo:before {
        display: none;
    }
    .fiche-photo {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .inactive-mobile {
        display: none;
    }
    .active-mobile {
        display: block;
        max-width: 563px;
        width: 80vw;
        height: auto;
        justify-content: center;
    }
    .photo-informations{
        width: 80vw;
    }
    .photo-informations h2{
        font-size: 46px;
        line-height: 48px;
    }
    .zone-contact-et-miniature {
        justify-content: center;
    }
    .zone-contact {
        flex-direction: column;
        align-self: center;
        width: auto;
    }
    .zone-miniature {
        display: none;
    }
    .presentation-images {
        flex-direction: column;
        align-items: center;
        gap:0;
    }
    #photos-container{
        gap:21px

    }
    .presentation-images-gauche{
        height: auto;
    }
    .image-container{
        max-width: 318px;
        height: 278px;
    }
    .photos-container-image img{
        max-width: 400px;
        object-fit:contain;
    }
    .custom-max-width-image {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .filters-box{
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    .filters-left{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .site-header{
        padding: 40px;
        height: 0vh;
        width: 80vw;
    }
    .main-navigation li{
        display: contents;
    }
    h3{
        text-align: center;
    }
    .single-photo img{
        object-fit:cover;
    }
}
